*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-image:url(https://images.unsplash.com/photo-1496854863306-cbb8c4407988?q=80&w=1026&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;

}

.container{
  width:350px;
  background:white;
  padding:25px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

h1{
  margin-bottom:20px;
  color:black;
}

.search-box{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

input{
  flex:1;
  padding:10px;
  border:1px solid #ccc;
  border-radius:8px;
  font-size:16px;
}

button{
  padding:10px 15px;
  border:none;
  background:#ce5302;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#0056b3;
}

.weather-box p{
  margin:10px 0;
  font-size:18px;
}